<po-page-default [p-title]="page.title" [p-breadcrumb]="page.breadcrumb" [p-actions]="page.actions">

    <form [formGroup]="permissionForm" class="po-row">
        <po-combo class="po-md-2" p-filter-mode="contains" p-label="Pesquisar por:" [p-options]="selects.pesquisa"
            formControlName="pesquisa">
        </po-combo>
        <po-input *ngIf="constValue.input" class="po-md-2" p-label="Filtro" formControlName="filtro"></po-input>
        <po-combo *ngIf="constValue.select" class="po-md-2" p-filter-mode="contains" p-label="Filtro"
            [p-options]="selects.filtro" formControlName="filtro">
        </po-combo>
        <po-button class="po-md-2 po-mt-4" p-label="Buscar" (click)="getPermission(this.permissionForm.value)"></po-button>
    </form>
    <po-table [p-columns]="table.columns" [p-items]="table.items" [p-loading]="table.loading" [p-height]="table.height"
        p-sort="true" p-striped="true" (p-selected)="getSelected($event)" (p-unselected)="getUnSelected()"
        p-checkbox="true" p-single-select="true">
    </po-table>

    <!-- <app-pagination [disabled]="table.loading" [(currentPage)]="pagination.currentPage"
    (pageChanged)="onPageChange($event)" [(totalItems)]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage">
</app-pagination> -->


</po-page-default>