<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
    <po-divider p-label="Dados Cadastrais "></po-divider>

    <form [formGroup]="tipoChamadoAddForm">
        <div class="po-row">
            <po-input formControlName="descricao" p-required="true" p-label="Descrição Tipo Chamado" class="po-md-4" ></po-input>
            <po-select formControlName="active" p-required="true" p-label="Ativo" [p-options]="selects.ativoOptions"
                class="po-md-3"></po-select>
        </div>
    </form>

</po-page-default>
