<po-page-default [p-title]="page.title" [p-breadcrumb]="page.breadcrumb" [p-actions]="page.actions">

    <div class="po-row" [formGroup]="chamadosForm">
        <po-combo class="po-md-3" p-label="Pesquisa por" p-filter-mode="contains" p-placeholder="Pesquisar por ..."
        [p-options]="selects.pesquisa" formControlName="pesquisa"></po-combo>
        <po-input *ngIf="constValue.input" class="po-md-3" p-label="Filtro" formControlName="filtro"></po-input>
        <po-number *ngIf="constValue.number" class="po-md-3" p-label="Filtro" formControlName="filtro"></po-number>
        <po-combo *ngIf="constValue.select" class="po-md-3" p-label="Filtro" formControlName="filtro" p-filter-mode="contains" 
        p-placeholder="Filtrar por ..." [p-options]="selects.filtro"></po-combo>

        <po-button class="po-md-2 po-mt-4" p-label="Buscar" (click)="searchData()"></po-button>
    </div>
    <po-table 
        [p-columns]="table.columns"
        [p-items]="table.items"
        [p-loading]="table.loading"
        [p-height]="table.height"
        p-sort="true"
        p-striped="true"
        (p-selected)="selectedTable($event)"
        (p-unselected)="unSelectedTable($event)"
        p-checkbox="true" p-single-select="true"
        p-hide-text-overflow="true">
    </po-table>

    
    <app-pagination [disabled]="table.loading" [(currentPage)]="pagination.currentPage"
        (pageChanged)="onPageChange($event)" [(totalItems)]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage">
    </app-pagination>
</po-page-default>