<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">

    <form [formGroup]="editUserForm">
        <div class="po-row">
            <po-input class="po-md-2" p-label="ID Usuário" p-readonly="true" formControlName="id"></po-input>
            <po-input class="po-md-2" p-label="ID Empresa" p-readonly="true" formControlName="idEmpresa"></po-input>
            <po-input class="po-md-3" p-label="Nome Usuário" p-readonly="true" formControlName="username">
            </po-input>
            <po-input class="po-md-3" p-label="Email Usuário" p-readonly="true" formControlName="email">
            </po-input>
            <po-password class="po-md-2" p-label="Senha" p-error-pattern="Insira no mínimo 7 caracteres" formControlName="senha"></po-password>
            <po-combo class="po-md-3" p-placeholder="Regra" p-label="Regra" [p-options]="page.regrasOptions" fomControlName="regra"></po-combo>
            <po-combo class="po-md-3" p-placeholder="Status" p-label="Status" [p-options]="page.statusOptions" formControlName="ativo"></po-combo>
        </div>
    </form>
</po-page-default>