<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
    <form [formGroup]="analistaform" class="po-row">
        <po-input class="md-2" p-label="Filtro" formControlName="filter"></po-input>

        <po-button class="mt-4 po-md-2" p-icon="po-icon-search" p-label="Buscar">
        </po-button>

        <po-table [p-columns]="table.columns" [p-items]="table.items" [p-loading]="table.loading" p-sort="true"
            p-striped="true"></po-table>

    </form>
</po-page-default>