<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
    <po-divider p-label="Dados Cadastrais"></po-divider>

    <form [formGroup]="companyaddForm">
        <div class="po-row">
            <po-number formControlName="cnpj" p-required="true" p-label="CNPJ" class="po-md-4"></po-number>
            <po-input formControlName="razaoSocial" p-required="true" p-label="Razão Social" class="po-md-4"></po-input>
            <po-input formControlName="nomeFantasia" p-required="true" p-label="Nome Fantasia" class="po-md-4">
            </po-input>
            <po-input formControlName="endereco" p-required="true" p-label="Endereço" class="po-md-3">
            </po-input>
            <po-input formControlName="admin" p-required="true" p-label="Contato Empresa" class="po-md-3"></po-input>
            <po-input formControlName="telefone" p-required="true" p-label="Telefone" class="po-md-3">
            </po-input>
            <po-select formControlName="status" p-required="true" p-label="Status" [p-options]="page.statusOptions"
                class="po-md-3"></po-select>
        </div>
    </form>

</po-page-default>