<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
        <po-divider p-label="Dados Cadastrais"></po-divider>
      
        <form [formGroup]="analistaddForm">
          <div class="po-row">
            <po-input formControlName="nomeAnalista" p-required="true" p-label="Nome Analista" class="po-md-4"
              p-error-pattern="Insira no mínimo 10 caracteres"></po-input>
            <po-input formControlName="emailAnalista" p-required="true" p-label="E-mail" class="po-md-4"
              p-error-pattern="Insira um e-mail válido!"></po-input>
            <po-password formControlName="senha" p-required="true" p-label="Senha" class="po-md-4" p-error-pattern="Insira no mínimo 7 caracteres"></po-password>
          </div>
      
          <div class="po-row">
            <po-select formControlName="status" p-required="true" p-label="Status" [p-options]="page.statusOptions" class="po-md-3"></po-select>
          </div>
        </form>
      </po-page-default>
      
