<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
    <po-divider p-label="Dados Cadastrais "></po-divider>

    <form [formGroup]="subTipoChamadoAddForm">
        <div class="po-row">
            <po-input formControlName="descricao" p-label="Descrição SubTipo Chamado" class="po-md-4"
            (p-blur)="verificaDescricao()" ></po-input>

            <po-combo class="po-md-3" p-filter-mode="contains" p-label="Tipo Chamado" [p-options]="selects.tipoChamado"
                formControlName="idTipoChamado">
            </po-combo>

            <po-select formControlName="active" p-label="Ativo" [p-options]="selects.ativoOptions" class="po-md-3">
            </po-select>


        </div>
    </form>

</po-page-default>