<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
    <po-accordion>
        <po-accordion-item class="po-sm-12 po-md-12" p-label="Filtros">
            <form [formGroup]="userform" class="po-row" (keyup.enter)="findAll(userform.value)">
                <po-input class="po-sm-6 po-md-2 po-lg-1" p-label="Código" formControlName="id" p-mask="999999" ></po-input>
                <po-input class="po-sm-6 po-md-3 po-lg-3" p-label="E-mail" formControlName="email"></po-input>
                <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="Nome Completo" formControlName="nomeCompleto">
                </po-input>
                <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="Ativo" formControlName="ativo"
                    [p-options]="selects.ativoOptions"></po-select>
                <po-combo class="po-sm-6 po-md-3 po-lg-4" p-label="Empresa" p-filter-mode="contains"  p-sort="true" [p-options]="selects.empresa"
                    formControlName="idEmpresa"></po-combo>
                <po-combo class="po-sm-6 po-md-3 po-lg-2" p-label="Regra" p-filter-mode="contains"  p-sort="true" [p-options]="selects.regra"
                    formControlName="idRegra"></po-combo>
                <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="É Técnico?" formControlName="isTecnico"
                    [p-options]="selects.ativoOptions"></po-select>
                <po-button class="po-sm-12 po-md-3 po-lg-2 po-mt-4" p-label="Buscar" (click)="findAll(userform.value)">
                </po-button>
            </form>
        </po-accordion-item>
    </po-accordion>
    <po-table [p-columns]="table.columns" [p-items]="table.items" [p-height]="table.height"
        p-sort="true" p-striped="true" (p-selected)="getSelected($event)" (p-unselected)="getUnSelected()"
        p-checkbox="true" p-hide-text-overflow="true" p-single-select="true">
    </po-table>

    <!-- <app-pagination [disabled]="table.loading" [(currentPage)]="pagination.currentPage"
        (pageChanged)="onPageChange($event)" [(totalItems)]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage">
    </app-pagination> -->
    <po-loading-overlay *ngIf="loading" p-screen-lock="true" p-text="Carregando">
    </po-loading-overlay>
</po-page-default>