<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">

    <form [formGroup]="editEmpresaForm">
        <div class="po-row">
            <po-input class="po-md-2" p-label="ID" p-readonly="true" formControlName="idEmpresa"></po-input>
            <po-input class="po-md-3" formControlName="cnpj" p-readonly="true" p-label="CNPJ"></po-input>
            <po-input class="po-md-3" formControlName="razaoSocial" p-readonly="true" p-required="true" p-label="Razão Social"></po-input>
            <po-input class="po-md-3" formControlName="nomeFantasia" p-readonly="true" p-required="true" p-label="Nome Fantasia">
            </po-input>
            <po-input class="po-md-4" formControlName="endereco" p-required="true" p-label="Endereço">
            </po-input>
            <po-input class="po-md-3" formControlName="admin" p-required="true" p-label="Contato"></po-input>
            <po-number class="po-md-3" formControlName="telefone" p-required="true" p-label="Telefone"></po-number>
        </div>
    </form>
</po-page-default>