<po-page-default [p-title]="page.title" [p-breadcrumb]="page.breadcrumb" [p-actions]="page.actions">
    <form [formGroup]="chamadosForm" class="po-row">

        <po-combo class="po-md-4" p-filter-mode="contains" p-label="Usuário"
          [p-disabled]="disabledField"  [p-options]="selects.usuarios" formControlName="idUsuario">
        </po-combo>

        <po-combo class="po-md-4" p-filter-mode="contains" p-label="Tipo Chamado" [p-options]="selects.tipoChamado"
            formControlName="idTipoChamado">
        </po-combo>
        <po-combo class="po-md-4" p-label="Subtipo Chamado" p-filter-mode="contains" [p-disabled]="disabledSubtipoChamado"
            [p-options]="selects.subtipoChamado" formControlName="idSubtipoChamado"></po-combo>

        <div class="po-row">
            <po-textarea class="po-md-12" p-label="Descricão Chamado" p-rows="4" formControlName="descricao">
            </po-textarea>
        </div>
    </form>

</po-page-default>