<po-page-default [p-title]="page.title" [p-breadcrumb]="page.breadcrumb" [p-actions]="page.actions">

    <form [formGroup]="chamadoInternoForm">
        <div class="po-row"> 
        <po-input class="po-md-2" p-label="ID Interno" fomrControlName="id" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="ID Empresa" formControlName="idEmpresa" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="ID Analista" formControlName="idAnalista" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Data Abertura" formControlName="dataAbertura" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Hora Abertura" formControlName="horaAbertura" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Data Fechamento" formControlName="dataFechamento" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Hora Fechamento" formControlName="horaFechamento" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Tempo" formControlName="tempo" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Status" formControlName="status" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Tipo" formControlName="tipo" p-readonly="true"></po-input>
        <po-input class="po-md-2" p-label="Assunto" formControlName="assunto" p-readonly="true"></po-input>
    </div >
        <po-textarea class="po-md-6" p-label="Descricão" p-rows="4" formControlName="descricao" p-readonly="true"></po-textarea>
        <po-textarea class="po-md-6" p-label="Solucão" p-rows="4" formControlName="solucao" p-readonly="true"></po-textarea>
    
    </form>

</po-page-default>