<div class="po-wrapper">
    <po-toolbar *ngIf="logged" p-title="Portal Controle de Chamados" [p-profile]="profile" [p-profile-actions]="profileActions"></po-toolbar>

    <!-- *ngIf="logged" -->
    <po-menu 
        p-collapsed 
        p-filter [p-menus]="menus" 
        p-logo="assets/img/lobios-logo-transparente.png" 
        p-short-logo="assets/img/lobios-logo-cut.png"></po-menu>
    <router-outlet></router-outlet>

</div>

<po-modal #trocarSenha
    [p-primary-action]="primaryAction"
    [p-secondary-action]="secondaryAction">
    <form [formGroup]="trocarForm">
            <po-loading-overlay
            *ngIf="loading"
            p-screen-lock="true"
            p-text="Alterando senha" >
        </po-loading-overlay>
        <po-password class="po-md-12" p-label="Atual" formControlName="atual"></po-password>
        <po-password class="po-md-12" p-label="Nova" formControlName="nova"></po-password>
        <po-password class="po-md-12" p-label="Confirme" formControlName="confirme"></po-password>
    </form>
</po-modal>