<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
    <form [formGroup]="subTipoChamadoForm" class="po-row">
        <po-divider class="po-md-12" p-label=""></po-divider>
        <po-input *ngIf="tipoTela != 'add'" class="po-md-2" p-label="Código" p-readonly="true" formControlName="id">
        </po-input>
        <po-input class="po-md-3" [p-readonly]="disabledFields" p-label="Descição Tipo de Chamado"
            formControlName="descricao"></po-input>
        <po-select formControlName="idTipoChamado" [p-readonly]="disabledFields" p-label="Tipo Chamado" [p-options]="selects.tipoChamado"
            class="po-md-4"></po-select>
        <po-divider *ngIf="tipoTela != 'add'" class="po-md-12" p-label="Informações do Tipo Chamado"></po-divider>
        <po-datepicker *ngIf="tipoTela != 'add'" class="po-md-2" p-readonly="true" p-format="dd/MM/yyyy"
            p-label="Criado" formControlName="criado"></po-datepicker>
        <po-datepicker *ngIf="tipoTela != 'add'" class="po-md-2" p-readonly="true" p-format="dd/MM/yyyy"
            p-label="Modificado" formControlName="modificado"></po-datepicker>
        <po-input *ngIf="tipoTela != 'add'" class="po-md-2" p-readonly="true" p-label="Criado Por"
            formControlName="criadoPor"></po-input>
        <po-input *ngIf="tipoTela != 'add'" class="po-md-2" p-readonly="true" p-label="Modificado Por"
            formControlName="modificadoPor"></po-input>
        <po-switch [p-disabled]="disabledFields" formControlName="ativo" p-label="Ativo" p-label-off="Inativo"
            p-label-on="Ativo"> </po-switch>
    </form>

    <po-loading-overlay *ngIf="loading" p-screen-lock="true" p-text="Carregando">
    </po-loading-overlay>


</po-page-default>