<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">
    <form [formGroup]="subTipoChamadoEditForm" class="po-row">
            <po-input class="po-md-2" p-label="ID" p-readonly="true" formControlName="id"></po-input>
            <po-input class="po-md-3" p-label="Descição Tipo de Chamado" formControlName="descricao"></po-input>
            <po-select formControlName="idTipoChamado" p-label="Tipo Chamado" [p-options]="selects.tipoChamado" class="po-md-4" ></po-select>
            <po-select class="po-md-2"  p-label="Status" [p-options]="selects.statusOptions" formControlName="active"></po-select>
            <po-datepicker class="po-md-2" p-readonly="true" p-format="dd/MM/yyyy" p-label="Criado" formControlName="created"></po-datepicker>
            <po-datepicker class="po-md-2" p-readonly="true" p-format="dd/MM/yyyy" p-label="Modificado" formControlName="modified"></po-datepicker>
    </form>


</po-page-default>
