<img src="assets/img/logo.png" alt="" id="logo-login">
<div id="formLogin">
    <po-container p-noBorder="true">
        <form class="po-form" [formGroup]="loginForm" (keyup.enter)="login()">
            <po-login class="po-sm-12 po-md-12 po-xl-12" p-required="true" p-placeholder="Insira seu usuário de acesso" formControlName="username" p-label="Usuário"></po-login>
            <po-password class="po-sm-12 po-md-12 po-xl-12" p-required="true" p-placeholder="Insira sua senha de acesso" formControlName="password" p-label="Senha"></po-password>

            <po-button class="po-xl-12" p-label="Entrar" (p-click)="login()" [p-disabled]="loginForm.invalid"></po-button>
        </form>
    </po-container>
</div>


<po-loading-overlay
    *ngIf="constValue.loading"
    p-text="Entrando" >
</po-loading-overlay>