<po-page-default [p-title]="page.title" [p-breadcrumb]="page.breadcrumb" [p-actions]="page.actions">
    <form [formGroup]="chamadosFormView" class="po-row">
        <po-input class="po-md-4" p-label="Empresa" p-readonly="true" formControlName="idEmpresa">
        </po-input>
        <po-input class="po-md-4" p-label="Analista" p-readonly="true" formControlName="idAnalista">
        </po-input>
        <po-input class="po-md-4" p-label="Usuário" p-readonly="true" formControlName="idUsuario">
        </po-input>
        <po-input class="po-md-2" p-label="Data Abertura" p-readonly="true" formControlName="dataAbertura">
        </po-input>
        <po-input class="po-md-2" p-mask="99:99" p-label="Hora Abertura" p-readonly="true"
            formControlName="horaAbertura"></po-input>
        <po-input class="po-md-2" p-label="Data Fechamento" p-readonly="true" formControlName="dataFechamento">
        </po-input>
        <po-input class="po-md-2" p-mask="99:99" p-label="Hora Fechamento" p-readonly="true"
            formControlName="horaFechamento"></po-input>
        <po-input class="po-md-2" p-mask="99:59" p-label="Tempo" p-readonly="true" formControlName="tempoChamado">
        </po-input>
        <po-input class="po-md-2" p-label="Status" p-readonly="true" formControlName="codigoStatusChamado">
        </po-input>
        <po-input class="po-md-3" p-label="Tipo Chamado" p-readonly="true" formControlName="tipoChamado"></po-input>
        <po-input class="po-md-3" p-label="Subtipo Chamado" p-readonly="true" formControlName="subtipoChamado">
        </po-input>
        <div class="po-row">
            <po-textarea class="po-md-6" p-label="Descricão Chamado" p-rows="4" p-readonly="true"
                formControlName="descricaoChamado">
            </po-textarea>
            <po-textarea class="po-md-6" p-label="Solucão Chamado" p-rows="4" p-readonly="true"
                formControlName="solucaoChamado">
            </po-textarea>
        </div>
    </form>
</po-page-default>