<po-page-default [p-title]="page.title" [p-breadcrumb]="page.breadcrumb" [p-actions]="page.actions">
    <form [formGroup]="subtipoForm" class="po-row" (keyup.enter)="findSubtipoChamado(subtipoForm.value)">
        <po-input class="po-sm-6 po-md-2 po-lg-2" p-label="Código" formControlName="id"></po-input>
        <po-input class="po-sm-6 po-md-2 po-lg-2" p-label="Descrição" formControlName="descricao"></po-input>
        <po-select class="po-sm-6 po-md-2 po-lg-2" p-label="Ativo" formControlName="ativo" [p-options]="selects.ativo">
        </po-select>
        <po-button class="po-md-2 po-mt-4" p-label="Buscar" (click)="findSubtipoChamado(this.subtipoForm.value)">
        </po-button>
    </form>

    <po-table [p-columns]="table.columns" [p-items]="table.items" [p-height]="table.height" p-sort="true"
        p-striped="true" p-checkbox="true" (p-selected)="getSelected($event)" (p-unselected)="getUnSelected()"
        p-single-select="true">
    </po-table>

    <po-loading-overlay *ngIf="loading" p-screen-lock="true" p-text="Carregando">
    </po-loading-overlay>

    <!-- <app-pagination [disabled]="table.loading" [(currentPage)]="pagination.currentPage"
        (pageChanged)="onPageChange($event)" [(totalItems)]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage">
    </app-pagination> -->
</po-page-default>